*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Шаг 1. Лейаут */

.content {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: end;
  width: 1140px;
  height: 534px;
  gap: 30px;
}
.content__list-container {
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  max-height: 534px;
  padding: 2px 3px;
  position: relative;
  gap: 30px;
}

.result {
  display: flex;
  width: 711px;
  height: 456px;
  flex-direction: column;
  margin-top: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 18px;
  padding-bottom: 2px;
}

.title {
  padding-top: 2px;
}

/* Шаг 2. Уточнение размеров */

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 17px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item {
  width: 100%;
}

.content__list {
  width: 389px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
  padding-right: 0;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  width: 390px;
  margin: 0;
  padding: 0;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
  flex-grow: 0;
  float: right;
  padding-right: 1px;
  margin: 0;
  align-self: end;
  justify-self: end;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.search-form {
  display: flex;
  width: 100%;
  justify-self: start;
  justify-content: stretch;
  align-items: end;
  gap: 30px;
  box-sizing: border-box;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 225px;
  gap: 8px;
  box-sizing: border-box;
  padding-right: 10px;
  border: none;
}

.content__card-link {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Шаг 3. Стили текстов */

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  height: 103px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Шаг 4. Стилизуем формы и их состояния
Стилизуем обёртки для поискового инпута и чекбоксов */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* Стилизуем обёртки для поискового инпута и чекбоксов */

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

/* Стилизуем текстовое поле ввода */

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
  height: 27px;
  border-right: none;
  border-left: none;
  border-top: solid #fff 1px;
  border-bottom: solid #fff 1px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

input:focus {
  outline: none;
  box-shadow: none;
}
label:focus {
  outline: none;
}
.search-form__label-text {
  outline: none;
}

label:has(input:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Стилизуем чекбокс */

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: solid 1px #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Шаг 5. Стилизуем кнопки и их состояния */

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  line-height: 100%;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: solid 1px #fff;
  text-align: center;
  min-height: 34px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
  align-self: center;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Шаг 6. Состояния карточек */

.content__card-link {
  display: block;
  width: 100%;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Шаг 7. Работаем с кликабельностью */

a,
button,
.search-form__label {
  cursor: pointer;
}
